
.treeview,
.treeview * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label {
  padding-left: 11px;
  position: relative;
}

.branch .label::before {
  position: absolute;
  content: '>';
  left: 0;
  top: 1px;
}

.branch.opened .label::before {
  transform: rotate(90deg);
}

.hidden {
  display: none;
}

.node.selected {
  background: #ddd;
}

.margin {
  display: inline-block;
  width: 20px;
}
