
/*** syntax ***/

/* red */
operator,
operator2,
keyword {
  color: #efb451;
}

/* green */
function {
  color: #b3df02;
  font-style: normal;
}

/* blue */
declare,
builtin {
  color: #ef3944;
}

/* purple */
boolean,
number,
number operator {
  color: #c7543f;
}

/* orange */
params {
  color: #bf9a45;
}
regexp,
regexp * {
  color: #bd70f4 !important;
  font-style: normal !important;
}

/* orange */
regexp string,
regexp string *,
regexp comment,
regexp comment * {
  color: #FD971F !important;
  font-style: normal !important;
}

/* gray */
comment,
comment *,
comment string,
comment string *,
comment string comment,
comment regexp,
comment regexp * {
  color: #635240 !important;
  font-style: normal !important;
}

/* yellow */
string,
string comment,
string comment *,
string * {
  color: #3ec2f8 !important; /*#13aaf9 !important;*/
  font-style: normal !important;
}

/* white */

symbol,
.code {
  color: #e9e3d1;
}

/* italic */
params,
declare {
  font-style: italic;
}

symbol {
  font-style: normal;
}

indent {
  display: inline-block;
  margin-bottom: 0px;
  background-repeat: repeat;
}

.editor > .rows,
.editor > .mark,
.editor > .code,
.editor > .dialog,
.editor {
  background: #271e16;
}
