
/*** syntax ***/

/* red */
operator,
operator2,
keyword {
  color: #a13630; /*#937e41;*/
}

/* green */
function {
  color: #b3df02;
  font-style: normal;
}

/* blue */
declare,
builtin {
  color: #f63833;
}

/* purple */
boolean,
number,
number operator {
  color: #ff9f4e;
}

/* orange */
params {
  color: #a090a0; /* #32c0f6; *//* #a0966c #bf9a45; */
}
regexp,
regexp * {
  color: #bd70f4 !important;
  font-style: normal !important;
}

/* orange */
regexp string,
regexp string *,
regexp comment,
regexp comment * {
  color: #FD971F !important;
  font-style: normal !important;
}

/* gray */
comment,
comment *,
comment string,
comment string *,
comment string comment,
comment regexp,
comment regexp * {
  color: #635047 !important;
  font-style: normal !important;
}

/* yellow */
string,
string *,
string comment,
string comment * {
  color: #3ea1fb !important; /*#13aaf9 !important;  #83bd7f*/
  font-style: normal !important;
}

/* white */

symbol,
.code {
  color: #e9e3d1;
}

/* italic */
params,
declare {
  font-style: italic;
}

symbol {
  font-style: normal;
}

indent {
  display: inline-block;
  margin-bottom: 0px;
  background-repeat: repeat;
}

.editor > .rows,
.editor > .mark,
.editor > .code,
.editor > .dialog,
.editor {
  background: #271e16;
}
